/* ==|=======================================================================
   Non Modular/Fleet
   ========================================================================== */

.nm-fleet {
	.main-head {
		margin-bottom: 1.5em;
	}
	.m-filters {
		margin-bottom: 2em;
	}
	.m-table {
		.m-btn {
			padding: .2em 1em;
		}
	}
}
