/* ==|=======================================================================
   Layout/Container
   ========================================================================== */

.l-container {
	background-color: #fff;
	@include box-shadow-ie(0, 1px, 3px, rgba(#000, .12), #ddd);
	padding: 1em 1.1875em; /* 19/16 */
	@include border-radius(2px);
	border: none;
	overflow: hidden;
	*border: solid 1px #ddd;
	
	> .title {
		font-size: 1.125em; /* 18/16 */
		font-family: $oswald;
		color: $color2;
		margin: 0 0 1.5em;
		position: relative;		
		text-transform: uppercase;				
		
		&:after {
			border-bottom: 1px solid #ebebeb;
			position: absolute;
			bottom: -.7em;
			left: -2em;
			width: 200%;
			content: " ";
		}
	}
	legend.title {
		top: 1.6em;
		width: 100%;
		margin-bottom: 2.5em;
	}
}