/* ==|=======================================================================
   Module/Form
   ========================================================================== */

input[type="text"], input[type="date"], textarea {
	font-size: .875em; /* 14/16 */
	font-family: $font1;
	font-weight: 300;
	color: #666;
	padding: .5em;
	border: 1px solid #cacaca;
	outline: 0;
	@include box-shadow-inset(0, 1px, 2px, rgba(0, 0, 0, 0.1));
	@include border-radius(2px);
	background-color: #f7f7f7;
	
	&:hover {
		border-color: #a5a5a5;
	}	
	&:focus {
		border-color: #999;
	}
}

label {
	font-size: .875em; /* 14/16 */
	color: #3c3c3c;
	margin-bottom: .3em;
	@include d-inline-block();
}
.sublabel {
	color: #737373;
	font-size: 0.857142857em; /* 12/14 */
	display: block;
}

input, textarea {
	@include placeholder(#bfbfbf);	
}