/* ==|=======================================================================
   Module/Button
   ========================================================================== */

.m-cta {
	padding: 2em 0;
	list-style: none;
	
	li {
		@include d-inline-block();
		margin: 0 .4em;
	}
	
	a.m-btn {
		min-width: 9em;
	}
}


/* ==|=======================================================================
   Responsive/Small Screens
   ========================================================================== */
   
@media (max-width: 47em) {
	.m-cta {
		padding: 1em 0 2em;
		margin: 0;
		
		li, a.m-btn {
			display: block;
		}
		li {
			margin-bottom: .5em;
		}
	}
}