/* ==|=======================================================================
   Module/Text default presentation
   ========================================================================== */
   
.m-text {
	li {
		background: url(../img/li.png) no-repeat 0px 3px;
		padding-left: 2em;
		list-style: none;
	}
} /* .text-defaut */